body {
    margin: 50px;
    text-align: center ;
    background-color: rgb(231, 190, 198);
}

input {
    width: 400px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 60px;
}

button {
    height: 50px;
    width: 70px;
    background-color: crimson;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: rgb(245, 233, 235);
    border-radius: 3px;
}

ul li button{
    position: fixed;
    right: 90px;
    height: 25px;
    width: 65px;
    background-color: crimson;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}